.header {
    padding: 1rem;
}

.grid-item {
    transition: background-color 0.3s;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
}

.grid-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.grid-item:hover {
    background-color: lightblue;
}

.box-container {
    /* padding: 1rem; */
    /* background-color: beige; */
    background-color: transparent;
}

.custom-bottom-nav-action {
    color: gray; /* Normal color */
}
.custom-bottom-nav-action.Mui-selected {
    color: white; /* Color when selected */
}